$mainBgColor: #333;
body {
  display: flex;
  justify-content: center;
  // background-color: white;
  background-color: $mainBgColor;
}

.navbar-container {
  position: relative;
  box-sizing: border-box;
  top: 6rem;
  // border: 2px solid red;
  li {
    padding: 0;
    margin: 0;
    // border: 2px solid red;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icons-list {
    // border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: white;
    padding: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    border-radius: 6px;
    list-style-type: none;
    position: relative;

    .option {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      // color: green;
      padding: 0.5rem 1rem;
      position: relative;
      z-index: 1;
      &:active {
        color: $mainBgColor;
      }
      &:visited {
        color: $mainBgColor;
      }

      .icon,
      svg {
        width: 2rem;
        height: 2rem;
        fill: $mainBgColor;
        display: block;
        margin-bottom: 0.2rem;
        // stroke-width: 5px ;
        // stroke: red;
        // position: relative;
        path {
          // stroke: currentColor;
          stroke-width: 0px;
        }
      }

      .text {
        // visibility: none;
        // color: red;
        display: none;
        // transition: display 500ms ease-in-out;
      }
    }


.active{

 

  .icon{
    position: relative;
    transform: translateY(-60%);
    transition: all 260ms ease-in-out;
  }
  .text{
    transition: display 500ms ease-in-out;
    display: block;
  }

  
  
}
 #indicator{
  //  transition: 500ms ease-in-out;

  position: absolute;
  top: -9%;
  --left-position: 0rem;
  left:calc(0rem + var( --left-position)); 
  // z-index: 0;
  margin: .5rem 2rem;
  // margin-bottom: .5rem ;
  // margin-left: 2rem ;
  transition: all 260ms ease-in-out;
  .icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-51%, -50%);
    width: 100% * 2;
    height: 100% * 2;
    background-color: rgb(100, 100%, 50%);
    z-index: -1;
    border-radius: 50%;
  }

  .icon::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(40%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    width: 100% * 2.28;
    height: 100% * 2.28;
    background-color: $mainBgColor;
    z-index: -2;
    border-radius: 50%;
  }

  $sideWidthSize: 1.2rem;
  $sideHeightSize: 1.2rem;
  $borderSize: 0.7rem;
  &::before{
    content: "";
    display: block;
    width: $sideWidthSize;
    height: $sideHeightSize;
    position: absolute;
    left: -4%;
    top:-26%;
    // background-color: red;
    border-top: $borderSize solid $mainBgColor;
    border-right: $borderSize solid $mainBgColor;
    border-top-right-radius: 90%;
    z-index: 0;

  }
  &::after{
    content: "";
    display: block;
    width: $sideWidthSize;
    height: $sideHeightSize;
    position: absolute;
    right: -4%;
    top:-26%;
    // background-color: red;
    border-top: $borderSize solid $mainBgColor;
    border-left: $borderSize solid $mainBgColor;
    border-top-left-radius: 90%;
    z-index: 0;

  }
 }


  }
}
